<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <form ng-submit="addItem()" action="/savenote" method="POST">
        <input type="hidden" name="id" ng-model="enteredId"></input>
        <input name="title" ng-model="enteredTitle"></input>
        <input name="description" ng-model="enteredDescription"></input>
        <input type="file" name="pictureFile"></input>
        <button type="submit">Save</button>
    </form>

    <script>//<![CDATA[
        $("#noteEditForm").ajaxForm(function (item, status) {
            if (status = "success") {
                console.log(item);
                
//    
//            $("#noteList tbody").append("<tr>"
//                                + "<td>" + item.id + "</td>"
//                                + "<td>" + item.title + "</td>"
//                                + "<td>" + item.description + "</td>"
//                                + "<td><img src=\"/uploads/" + item.picture+"\" alt=\"image\" height=\"42\" width=\"42\" /></td>"
//                                + "<td><button class='deleteNoteButton' type='button' data-itemid='" + item.id+"' >Remove</button></td>"
//                                + "<td><button class='editNoteButton' type='button' data-itemid='" + item.id+"' >Edit</button></td>"
//                                + "</tr>")
           }
            $("#noteEditForm").hide();
        });
        
    //]]></script>
</div>