<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script type="text/javascript" src="../../js/jquery-2.1.1.js"></script> 
        <script src="http://malsup.github.com/jquery.form.js"></script> 
        <script type="text/javascript" src="../../js/action.js"></script>
        <script src="../../angularjs/angular.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <link href="../../css/bootstrap-theme.css" rel="stylesheet" />
        <link href="../../css/bootstrap.min.css" rel="stylesheet" />
        <script src="../../js/controllers.js"></script>

        <title>Note project</title>
    </head>

    <body ng-app="noteList">

        <div class="container-fluid">
            <form action="/login" method="POST">
                <div>User Name : <input type="text" name="username"/></div>
                <div>Password: <input type="password" name="password"/></div>
                <button type="submit" value="Sign In">Sign In</button>
            </form>
        </div>

        <div class="container-fluid" ng-controller="NoteListController">

            <div class="row-fluid">
                <div class="span9">
                    <table id="noteList" class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Description First</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody id="dataList">
                            <tr ng-repeat="item in items">
                                <td>{{item.id}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.description}}</td>
                                <td><img src='/uploads/{{item.picture}}' alt="image" height="42" width="42" /></td>
                                <td><button  type="button" data-itemid='{{item.id}}' ng-click="deleteItem()">Remove</button></td>
                                <td><button type="button" ng-click="editItem(item.id)">Edit</button></td>
                            </tr>

                        </tbody>
                    </table>
                    <div><button id="createNoteButton" type="button">Add</button></div>
                    <div id="addNewNote"></div>

                </div>
            </div>
        </div>
        <script>//<![CDATA[
            $(function () {
                
                $("#createNoteButton").click(function () {
                    $.ajax({
                        url: "/note/create"
                    }).done(function (response, status, xhr) {

                        $("#addNewNote").html(response);

                    });
                });

//                $("#dataList").on("click", ".editNoteButton", function (item) {
//                    $.ajax({
//                        url: "/note/" + $(this).data("itemid"),
//                    }).done(function (response, xhr) {
//                        $("#addNewNote").html(response);
//                    });
//
//
//
//                });

//                $("#noteList").on("click", ".deleteNoteButton", function (index, item) {
//                    $.ajax({
//                        url: '/note/delete',
//                        type: "POST",
//                        data: {id: $(this).data("itemid")}
//                    }).done(function () {
//                        $.ajax({
//                            url: '/note/list',
//                            type: "POST"
//                        }).done(function (result) {
//                            $("#dataList tr").remove();
//
//                            getList(result);
//                        });
//
//
//                    });
//                });

            });
            //]]></script>
    </body>
</html>